<strong>Olá, {{ deliveryman }}</strong>
<p>Uma entrega foi cancelada. Confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Descrição do problema: </strong> {{ problem }} <br />
  <br />
</p>
