<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda foi cadastrada e está disponível para retirada. Confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <br />
  <small>
    Lembre-se de que as retiradas só podem ser efetuadas entre 08h e 18h.
  </small>
</p>
